{% extends 'base.html.twig' %}

{% block title %}Escolinha de Futebol Davis{% endblock %}

{% block body %}

    <header class="mt-4 mb-4">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <h3>Área de Alunos</h3>
                    </li>
                </ul>
                <form action="{{ path('app_aluno_index') }}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search"> <input name="search" type="search" class="form-control" placeholder="Pesquisar..." aria-label="Search"> </form>
            </div>
        </div>
    </header>
    <table class="table table-bordered mb-2">
        <thead class="table-dark text-center">

        {% if pager is not empty %}
              <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Responsável</th>
                <th>Nascimento</th>
                <th>Peso</th>
                <th>Altura</th>
                <th>Sangue</th>
                <th>Numero(pé) </th>
                <th>Pé Dominante</th>
                <th>Ações</th>
            </tr>

        {% endif %}

        </thead>
        <tbody>
        {% for aluno in pager %}
              <tr>
                <td class="text-center">{{ aluno.id }}</td>
                <td>{{ aluno.nomeAluno }}</td>
                <td>{{ aluno.nomeResponsavel }}</td>
                <td class="text-center">{{ aluno.dataNascimento ? aluno.dataNascimento|date('d/m/Y') : '' }}</td>
                <td class="text-center">{{ aluno.peso }}</td>
                <td class="text-center">{{ aluno.altura }}</td>
                <td class="text-center">{{ aluno.tipoSanguineo }}</td>
                <td class="text-center">{{ aluno.numeroPe }}</td>
                <td class="text-center">{{ aluno.peDominante }}</td>
                <td class="text-center">
                    <a class="me-3" href="{{ path('app_aluno_show', {'id': aluno.id}) }}"><img src="/assets/images/info.png" height="24px" width="24px" alt="Mostrar"></a>
                    <a href="{{ path('app_aluno_edit', {'id': aluno.id}) }}"><img src="/assets/images/edit.png" height="24px" width="24px" alt="Alterar"></a>
                </td>
              </tr>

        {% else %}
            <tr>
                <td colspan="17">Nenhum registro encontrado!</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center">
        <div class="mt-2">
            {{ pagerfanta(pager) }}
        </div>
    </div>
    <a href="{{ path('app_aluno_new') }}" class="btn btn-success mb-3">Novo Aluno</a>
    <a href="{{ path('app_home_page') }}" class="btn btn-dark mb-3 ms-3">Voltar</a>
    <a href="{{ path('app_aluno_index') }}" class="btn btn-secondary mb-3 ms-3">Limpar</a>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/pagerfanta.css') }}">
{% endblock %}